<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="/user" method="post">
		<label><input type="text" name="name">blub</label>
		<select name="location">
			<option value="a">no decisions</option>
			<option value="b">no decisions</option>
			<option value="c">no decisions</option>
			<option value="d">no decisions</option>

		</select>
		<select name="language">
			<option value="a">no decisions</option>
			<option value="b">no decisions</option>
			<option value="c">no decisions</option>
			<option value="d">no decisions</option>		
		</select>
		<label><input type= "textarea" name= "comment"></input></label>
		<label><input type="submit" value="submit"></label>
	</form>
</body>
</html>